<!DOCTYPE html>
<html>
<head>
  <title>MarCoin</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <script src="./app.js"></script>
</head>
<body>
  <div ng-app="MarCoinApp">
    <div ng-controller="MarCoinController as Ctrl">
      <h1>MarCoin</h1>
      <h2>Example Truffle Dapp</h2>
      <h3>You have <span class="black"><span id="balance"></span>{{ Ctrl.balance }} MAR</span></h3>

      <table class="table table-bordered table-inverse">
        <tr>
          <th>ID</th>
          <th>予言</th>
          <th>発行者</th>
          <th>所持者</th>
        </tr>
        <tr ng-repeat="coin in Ctrl.coins">
          <td>{{ coin.id }}</td>
          <td>{{ coin.content }}</td>
          <td>{{ coin.issuer }}</td>
          <td>{{ coin.owner }}</td>
        </tr>
      </table>
      <br>
      <h1>Issue MarCoin</h1>
      <br><label for="content">Content of prophecy:</label><input type="text" id="amount" ng-model="Ctrl.input_content" placeholder="e.g., 1999年地球は滅亡する"></input>
      <br><br><button id="send" ng-click="Ctrl.issueCoin()">Issue MarCoin</button><br><br>
      <h1>Send MarCoin</h1>
      <br><label for="amount">Amount:</label><input type="text" id="amount" ng-model="Ctrl.input_id" placeholder="e.g., 95"></input>
      <br><label for="receiver">To Address:</label><input type="text" id="receiver" ng-model="Ctrl.input_receiver" placeholder="e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"></input>
      <br><br><button id="send" ng-click="Ctrl.sendCoin()">Send MarCoin</button>
      <br><br>
      <span id="status">{{Ctrl.status}}</span>
      <br>
      <span class="hint"><strong>Hint:</strong> open the browser developer console to view any errors and warnings.</span>
    </div>
  </div>
</body>
</html>
